body{
    background-color: #f6f6f6; /* Цвет фона веб-страницы */
} 
   
#pageTitle{
    margin: 0 auto;
    background-color: #ff7372;
    width: 50%;
	height: 150px; 
	text-align: center;
	font-size: xx-large;
	padding-top: 10px;
	color:white;
}

#searchContainer{
	display: flex;
	flex-direction: row;
	padding-left:10px;
}

#itemsHolder{
	margin: 0 auto;
    width: 50%;
	padding-top: 10px;
}


.note{
	background-color: #eae9e7;
	margin-top: 10px;
	cursor: pointer;
	padding: 10px;
	width:auto;
}





.modal {
    display: none;/* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modal-content {
    position: relative;
    background-color:#eeeeee;
    margin: auto;
    padding: 0;
    /*border: 5px solid #7B1FA2;*/
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}


.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #bcbcbc;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
	text-align:center;
}
	